<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/form.css}">
</head>

<body>
<div th:replace="fragments/log :: log"></div>
<div class="container">
    <div th:replace="fragments/sidenav :: sidenav"></div>

        <div class="main_contents">
            <div id="sub_content">
                <form method="post" th:object="${student}" th:action="@{/student/studentRegistration}" id="form-ad">
                    <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Student Registration</h2>

                    <div class="row mb-4">
                        <div class="col-md-2"></div>
                        <label for="username"  class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-5 input-control">
                            <input th:field="*{student.name}" type="text" class="form-control"
                                        placeholder="Please Enter your name" id="username">
                            <div class="error" ></div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-2"></div>
                        <label for="dob" class="col-md-2 col-form-label">DOB</label>
                        <div class="col-md-5 input-control">
                            <input type="date" th:field="*{student.dob}" name="dob" class="form-control" id="dob"
                                        placeholder="YYYY-MM-DD">
                            <div class="error"></div>
                        </div>
                    </div>

                    <fieldset class="row mb-4">
                        <div class="col-md-2"></div>
                        <legend class="col-form-label col-md-2 pt-0">Gender</legend>
                        <div class="col-md-5">
                            <div class="form-check-inline">
                                <label>Gender</label>

                                <input type="radio" id="male" name="gender"  th:field="*{student.gender}" th:value="Male"/>
                                <label for="male">Male</label>

                                <input type="radio" id="female" name="gender" th:field="*{student.gender}" th:value="Female"/>
                                <label for="female">Female</label>
                            </div>
                            <div class="error" id="gender-error"></div>

                        </div>
                    </fieldset>

                    <div class="row mb-4">
                        <div class="col-md-2"></div>

                        <label for="phone" class="col-md-2 col-form-label">Phone</label>
                        <div class="col-md-5 input-control">
                            <input th:field="*{student.phone}"  type="text"  class="form-control" id="phone"
                                        placeholder="Please enter your phone number" maxlength="11">
                            <div class="error"></div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-2"></div>
                        <label for="education" class="col-md-2 col-form-label">Education</label>
                        <div class="col-md-5 input-control">
                            <select th:field="*{student.education}" class="form-select" aria-label="Education" id="education">
                                <option value="Bachelor of Information Technology">Bachelor of Information Technology</option>
                                <option value="Diploma in IT">Diploma in IT</option>
                                <option value="Bachelor of Computer Science">Bachelor of Computer Science</option>
                            </select>
                        </div>
                    </div>

                    <fieldset class="row mb-5">
                        <div class="col-md-2"></div>
                        <legend class="col-form-label col-md-2 pt-0">Attend</legend>
                        <div class="col-md-5">
                            <div th:each="course : ${courses}">
                                <div class="form-check-inline col-md-2">
                                    <input class="form-check-input" type="checkbox" th:field="*{selectedCourses}" th:value="${course.id}" />
                                    <label class="form-check-label" th:text="${course.name}"></label>
                                </div>
                            </div>
                            <div class="error"></div>
                        </div>
                    </fieldset>


                    <!--<div class="row mb-4">
                        <div class="col-md-2"></div>
                        <label for="file" class="col-md-2 col-form-label">Photo</label>
                        <div class="col-md-4">
                            <input type="file" path="student.file" class="form-control" name="file" id="file"
                                        accept="image/*" multiple="true"></input>
                        </div>
                    </div>-->

                    <div class="row mb-4">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-secondary col-md-2">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('form-ad');
        const username = document.getElementById('username');
        const phone = document.getElementById('phone');
        const dob = document.getElementById('dob');

       /* form.addEventListener('submit', function (event) {
            if (!validateInputs()) {
                event.preventDefault();
            }
        });*/

        const setError = (element, message) => {
            const inputControl = element.parentElement;
            const errorDisplay = inputControl.querySelector('.error');

            errorDisplay.style.fontSize = "16px";
            errorDisplay.innerText = message;
            inputControl.classList.add('error');
            inputControl.classList.remove('success');
            /*errorDisplay.classList.add('alert', 'alert-danger');*/
            errorDisplay.classList.add('show');
        };

        const setSuccess = element => {
            const inputControl = element.parentElement;
            const errorDisplay = inputControl.querySelector('.error');

            errorDisplay.innerText = '';
            inputControl.classList.add('success');
            inputControl.classList.remove('error');
            errorDisplay.classList.remove('show');
            /*errorDisplay.classList.remove('alert', 'alert-danger')*/;
        };




        const validateInputs = () => {
            const usernameValue = username.value.trim();
            const phoneValue = phone.value.trim();

            if (dob.checkValidity()) {
                const dobValue = new Date(dob.value);
                const now = new Date();

                if (dobValue > now) {
                    setError(dob, 'Date of birth cannot be in the future');
                } else {
                    setSuccess(dob);
                }

            } else {
                setError(dob, 'Please select a valid date of birth');
            }

            if (usernameValue === '') {
                setError(username, 'Username is required');
            } else {
                setSuccess(username);
            }

            if (!dob) {
                setError(dob, 'DOB cannot be null');
            } else {
                setSuccess(dob);
            }

            if (phoneValue === '') {
                setError(phone, 'Phone is required');
            } else if (!/^\d{11}$/.test(phoneValue)) {
                setError(phone, 'Phone must be 11 digits long');
            } else {
                setSuccess(phone);
            }
        }
    });
</script>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
