<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/header :: header"></div>
</head>

<body>
<div th:replace="fragments/log :: log"></div>
<div class="container">
  <div th:replace="fragments/sidenav :: sidenav"></div>
  <div class="main_contents">
    <div id="sub_content">
      <form method="get" th:action="@{/student/searchStudent}" class="row g-3 mt-3 ms-2">
        <div class="col-auto">
          <label for="staticEmail2" class="visually-hidden">studentID</label>
          <input type="text" name="studentId" class="form-control" id="staticEmail2"
                 placeholder="Student ID">
        </div>
        <div class="col-auto">
          <label for="name" class="visually-hidden">studentName</label>
          <input type="text" name="name" class="form-control"
                 id="name" placeholder="Student Name">
        </div>
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Course</label>
          <input type="text" name="course" class="form-control"
                 id="inputPassword2" placeholder="Course">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-success mb-3">Search</button>
        </div>
        <div class="col-auto">
          <a th:href="@{/student/studentDetails}" class="btn btn-danger">Reset</a>
        </div>
      </form>
      <th:block th:if="${errors != null}">
        <h5 style="color: red" th:text="${errors}"></h5>
      </th:block>
      <form action="generateReport" method="post">
        <button class="btn btn-danger mb-3" type="submit">Download Report(PDF)</button>
      </form>

      <div style="color: darkgoldenrod; font-size: 16px;">Total Students: [[${totalElements}]]!  Page-> [[${currentPage}]] of [[${totalPages}]]</div>
      <div style="display: flex; justify-content:space-around;">
        <div></div>
        <nav aria-label="Page navigation example" >
          <ul class="pagination justify-content-end">
            <li class="page-item" th:disabled="${currentPage == 1}">
              <a th:if="${currentPage > 1}" th:href="@{'/student/studentDetails/' + ${currentPage - 1}}" class="page-link" >Previous</a>
              <span th:unless="${currentPage > 1}" class="page-link" tabindex="-1">Previous</span>
            </li>
            <li class="page-item" th:if="${totalElements == 0}">
              <a href="#" class="page-link">No student</a>
            </li>
            <p th:if="${totalPages > 1}">
            <span th:each="i: ${#numbers.sequence(1,totalPages)}">
            <li class="page-item"><a th:href="@{'/student/studentDetails/' + ${i}}" class="page-link">[[${i}]]</a></li>
            </span>
              </p>
            <li class="page-item" th:disabled="${totalPages == currentPage}">
              <a th:if="${currentPage < totalPages}" th:href="@{'/student/studentDetails/' + ${currentPage + 1}}"  class="page-link">Next</a>
              <span th:unless="${currentPage < totalPages}" class="page-link">Next</span>
            </li>
          </ul>
        </nav>
      </div>

      <div>
        <table class="table table-striped" id="stduentTable">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Details</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:if="${errors == null}">
            <th:block th:each="student, iterStat : ${students}">
          <tr>
            <td th:text="${iterStat.count}"></td>
            <td th:text="${student.formattedId}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.gender}"></td>
            <td th:text="${student.phone}"></td>
            <td>
              <a th:href="@{'/student/updateStudent?studentId=' + ${student.id}}">
                <button type="button" class="btn btn-success mb-3 me-3">
                  Update
                </button>
              </a>
            </td>

            <td>
              <button type="button" class="btn btn-danger mb-3"
                      data-bs-toggle="modal" data-bs-target="#exampleModal"
                      th:attr="onclick='setStudentId(\'' + ${student.id} + '\')'">
                DELETE
              </button>
            </td>

            <td>
              <a th:href="@{'/student/studentProfile?studentId='+ ${student.id}}">
                <i class="fa-solid fa-bars" style="font-size: 24px; color: black;"></i>
              </a>
            </td>

          </tr>
            </th:block>
          </th:block>
          </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student
                  Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h5 style="color: rgb(127, 209, 131);">Are you sure you
                  want to delete this student?</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        id="confirmDeleteBtn">Sure</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>

  let studentIdToDelete;

  function setStudentId(studentId){
    studentIdToDelete = studentId;
  }
  document.getElementById('confirmDeleteBtn').addEventListener('click', function () {
    if (studentIdToDelete) {
      let deleteUrl = '/student/deleteStudent?studentId=' + studentIdToDelete;
      window.location.href = deleteUrl;
    }
  });

</script>
<div th:replace="fragments/footer :: footer"></div>

</html>



