<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
<div th:replace="fragments/log :: log"></div>
<div class="container">
    <div th:replace="fragments/sidenav :: sidenav"></div>
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <!--<if test="${not empty error}">
                    <p style="color: red">${error}</p>
                </if>-->
                <form th:action="@{/user/changeEmail}" th:object="${user}" class="login-form" method="post">
                    <label for="email"  class="col-md-2 col-form-label" >Email</label>
                    <input type="text" id="email" class="input-control" placeholder="Please enter your new email"/>
                    <label for="password"  class="col-md-2 col-form-label" >Password</label>
                    <input type="password" id="password" class="input-control" placeholder="Please enter your new Password"/>
                    <input name="confirmPass" type="hidden" placeholder="Confirm Password"/>

                    <button type="submit">Change</button>

                </form>
            </div>
        </div>
    </div>
</div>

    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>